<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link type="text/css" href="css/index.css" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="/images/favicon.ico"> -->
  <title>RED BULL NA PUCCAMP</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-yellow">
    <!-- <a class="navbar-brand" href="/"><img src="/images/redbull-logo.png"></a> -->
    <!-- <h4 id="red"><span id="one">Red Bull</span> na <span id="two">PUCCAMP</span></h4> -->
    <button id="navButton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/">
      <h4 id="chega">#<span id="one">Chega</span><span id="two">Mais</span></h4>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">REGULAMENTO</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>

  <div class="titulos">
    <h2><span id="one">#Chega</span><span id="two">Mais</span></h2>
  </div>

  <br><br>

  <form id="cadastro" action="javascript:enviarCodigo()" method="post">
    <input type="text" placeholder="Nome" name="nomeAluno" required>
    <br><br>
    <select id="idAtletica" name="idAtletica" required>
      <option value="" disabled selected>Atlética...</option>
      <% for(var i = 0; i < atleticas.length; i++) { %>
      <option value="<%=atleticas[i].idAtletica%>">
        <%=atleticas[i].nome%>
      </option>
      <% } %>
    </select>
    <br><br>
    <select id="idEstabelecimento" name="idEstabelecimento" required>
      <option value="" disabled selected>Estabelecimento...</option>
      <% for(var i = 0; i < estabelecimentos.length; i++) { %>
      <option value="<%=estabelecimentos[i].idEstabelecimento%>">
        <%=estabelecimentos[i].nome%>
      </option>
      <% } %>
    </select>
    <br><br>
    <input type="text" placeholder="Código" id="idCodigo" name="idCodigo" required>
    <br><br>
    <button id="btnEnvio" type="submit">Enviar</button>
    <!-- <input type="image" src="/images/lata.png" id="botaoEnviar" alt="Submit"/> -->
  </form>
  <br><br>

</body>

<script>
  function enviarCodigo() {
    cadastro = document.getElementById("cadastro");
    let envio = {
      "nomeAluno": cadastro.nomeAluno.value,
      "idAtletica": cadastro.idAtletica.value,
      "idEstabelecimento": cadastro.idEstabelecimento.value,
      "idCodigo": cadastro.idCodigo.value
    }
    console.log(envio);

    axios.post('/enviar', envio)
			.then((response) => {
				alert(response.data);
			})
			.catch((error) => {
				alert('Erro ao cadastrar Codigo' + error);
			});
  }
</script>

</html>